body {
    background-color: gray;
}

html {
    font-size: 16px;
}

#registrationForm {
    color: white;
    width: 30rem;
    max-width: 100%;
    height: auto;
    background-color: rgb(50, 50, 141);
    margin: 6rem auto 6rem auto;
    padding: 2rem 0 2rem 0;
    border-radius: 2.5rem;
}

#form-heading {
    margin: 0.8rem 0 0.8rem 0;
    text-align: center;
}

#form {
    width: 25rem;
    max-width: 100%;
}

.form-control {
    border-radius: 0.8rem;
}

#submit-button {
    color: white;
    background-color: rgb(132, 124, 76);
    border-radius: 0.8rem;
    transition: 0.3s;
}

#submit-button:hover {
    background-color: rgb(251, 222, 75);
    color: black;
    transition: 0.8s;
    transform: translateY(-5px);
}

#form-fotter {
    text-align: center;
    margin: 0.8rem 0;
}

#form-fotter a {
    color: rgb(251, 222, 75);
}